parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+SpyWishlistItemQuery::leftJoinWithSpyProduct\(\)#'
        - '#Call to an undefined method Generated\\Zed\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
        - '#PHPDoc tag @param for parameter \$[\w\d]* with type Avalara\\[\w]*\|stdClass is not subtype of native type stdClass#'
        - '#Parameter \#\d+ \$\w* of method SprykerEco\\[\w\\]*\:\:\w*\(\) expects stdClass, Avalara\\[\w]*\|stdClass given#'
    excludePaths:
        - src/SprykerEco/Zed/AvalaraTax/Dependency/External/*
